.App {
  text-align: center;
}
.addlineform,
.dashboard {
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
}

.lines {
  text-align: center;
}
.addlineform label {
  text-align: left;
  display: block;
  font-size: medium;
}
.addlineform input,
.addlineform textarea,
.addlineform select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid black;
  box-sizing: border-box;
  display: block;
  font-size: medium;
}
.addlineform button,
.lines button,
button,
.dashboard button {
  background: black;
  color: white;
  border: 1px black;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  font-size: medium;
}

.addlineform button:hover,
.lines button.add:hover,
.dashboard button:hover {
  background-color: #71c78a;
  color: black;
  transition: 0.5s;
}
.lines button:hover,
button:hover {
  background: #d70040;
  transition: 0.5s;
}

.lines td,
.lines th,
.dashboard td,
.dashboard th {
  border: 1px solid black;
  padding: 10px;
}
.lines tr {
  background: lightblue;
}
.lines tr:nth-child(odd),
tr:nth-child(odd) {
  background: white;
}

.lines table,
.dashboard table {
  margin: 0 auto;
  border-collapse: collapse;
}

/* navbar css */

.navbar {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fff;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-bars {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  color: black;
}

.nav-menu {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
  opacity: 0.9;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  left: 0;
  transition: 450ms;
}

.nav-text {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #fff;
  color: #000;
}

.nav-menu-items {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}

.navbar-toggle {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-left: 16px;
}
